*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cantata One', serif;
    font-size: 16px;
}
nav{
    background: rgb(135, 134, 134);
    padding: 0px;
}
a{
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}
.menu li a{
    display: block;
    padding: 15px;
}
.logo{
    order: 0;
    flex: 1;
}
.logo img{
    width: min(50vw, 130px);
    padding: 7.5px 10px 7.5px 0px;
}
.item{
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.toggle {
    flex: 1;
    order: 1;
    font-size: 30px;
    text-align: right;
}
a:hover{
    color: rgb(99, 9, 9);
}
.hero{
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    width: 100%;
}
.right-hero{
    max-width: 100%;
}
.hearts{
    width: 100%;
    text-align: center;
}
.hearts img{
    max-width: 80%;
}
.hiring{
    width: 100%;
    text-align: center;
}
.hiring h2{
    font-size: 3rem;
}
.hiring h1{
    font-size: 4rem;
    padding: 0rem 0rem 2rem 0rem;
    }
.hiring span{
    font-size: 1.5rem;
    color: white;
    background: black;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}
.social-media{
    text-align: center;
    margin-top: 49px;
}
.social-media a{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 0rem 2rem;
}



/* tablet menu */
@media all and (min-width: 700px) {
    nav{
        background: white;
        padding: 0 15px;
        border-bottom-style: groove;    }
    a{
        color: black;
        text-decoration: none;
    }
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    .item{
        width: auto;
        order: 1;
        display: block;
    }
    
    
}

/* Desktop menu */
@media all and (min-width: 960px) {
   body{
       margin: 0rem 5rem;
   }
    .menu {
        align-items: center;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
        width: auto;
        position: relative;
        display: block;
        padding: 10px;
        
    }
    .toggle{
        display: none;
    }
}
